@font-face {
    font-family: OpenSans;
    font-weight: 400;
    font-style: normal;
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
}
@font-face {
    font-family: OpenSans;
    font-weight: bold;
    font-style: normal;
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #fff;
    color: #D8D8D8;
    font-family: OpenSans;
    line-height: 1;
}
a {
    text-decoration: none;
}
a img {
    border: 0;
}
.header {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    position: relative;
    /* min-height: 432px; */
}
.header::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
}
.header-container {
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;

}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    /* height: 41px; */
    margin-top: 16px;
}
.nav-list {
    display: flex;
    list-style: none;
}
.nav-link {
    font-size: 13px;
    line-height: 36px;
    color: #fff;
    text-transform: uppercase;
}
.nav-list-item {
    margin-top: 15px;
}
.nav-list-item:nth-child(n+2){
    padding-left: 37px;
}
.wellcome {
    margin-top: 104px;
    padding-bottom: 125px;
    font-size: 45px;
    font-weight: bold;
    line-height: 75px;
    text-transform: uppercase;
    color: #fff;
}
.main {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding: 65px 15px 0 15px;
    /* background-color: #888888; */
}
.content {
    display: flex;
    flex-direction: column;
    /* background-color: #999999; */
}
.article {
    display: block;
}
.article:nth-child(n+2) {
    margin-top: 60px;
}
.article-img {
    margin-right: 30px;
    float: left;
}
.article-tags {
    display: flex;
    list-style: none;
}
.article-tag:nth-child(n+2) {
    padding-left: 20px;
}
.article-tag-link {
    font-size: 14px;
    font-weight: bold;
    /* line-height: 40px; */
    text-transform: uppercase;
    color: #b59f5b;

}
.article-title {
    margin-top: 4px;
    line-height: 24px;
}
.article-title-link {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #0f0d0e;
}
.article-description {
    margin-top: 16px;
    font-size: 12px;
    line-height: 40px;
}
.desc-item:nth-child(n+2) {
    padding-left: 10px;
}
.article-date {
    font-size: 12px;
    line-height: 40px;
    color: #888888;
}
.article-author {
    font-size: 12px;
    font-weight: bold;
    line-height: 40px;
    color: #000;
}
.article-footer {
    margin-top: 33px;
}
.article-text {
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
}
.side-bar {
    width: 270px;
    height: 100%;
    margin-left: 120px;
    /* background-color: rgba(51, 51, 51, 0.589); */
}
.side-bar-item:nth-child(n+2) {
    margin-top: 60px;
}
.recent-items {
    display: flex;
    flex-direction: column;
}
.recent-item:nth-child(n+2){
    margin-top: 22px;
}
.side-block-title {
    text-align: center;
    position: relative;
    /* margin-bottom: 45px; */
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    /* line-height: 30px; */
}
.side-block-title::before {
    content: "";
    width: 65px;
    height: 3px;
    background-color: #E1D9BD;
    position: absolute;
    top: 25px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
}
.recent-title {
    margin-bottom: 40px;
}
.recent-main-link {
    color: #0f0d0e;
}
.recent-img {
    float: left;
    margin-right: 18px;
}
.recent-date {
    display: inline-block;
    font-size: 12px;
    /* line-height: 40px; */
    color: #000000;
    opacity: 0.5;
}
.recent-link {
    font-size: 14px;
    font-weight: bold;
    /* line-height: 18px; */
    color: #000;
    text-transform: uppercase;
}
.search {
    display: flex;
    margin-top: 40px;
}
.search-field {
    width: 220px;
    height: 50px;
    padding-left: 20px;
    border: 0;
    background-color: #F4F7F6;
    font-family: inherit;
}
.search-button {
    width: 50px;
    height: 50px;
    border: none;
    background-color: #B59F5B;
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
    color: black;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center center;
}
.mail-field {
    width: 270px;
    height: 50px;
    padding-left: 20px;
    border: 0;
    background-color: #F4F7F6;
    font-family: inherit;
}
.newsletter-title {
    margin-bottom: 35px;
}
.subscribe-button {
    margin-top: 17px;
    width: 270px;
    height: 50px;
    border: 0;
    background-color: #B59F5B;
    color: #fff;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
}
.tags-title {
    margin-bottom: 35px;
}
.tag-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
}
.tag-item {
    display: block;
    margin-top: 6px;
    margin-left: 5px;
    padding: 5px 12px;
    border: 3px solid #EEEEEE;
    font-size: 12px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
}
.categories-title {
    margin-bottom: 30px;
}
.categories-item {
    padding: 14px 3px;
    border-bottom: 2px solid #eeeeee;
}
.categories-link {
    /* display: block; */
    color: #000;
    font-size: 14px;
    font-weight: bold;
}
.categories-item-count {
    position: absolute;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: #b59f5b;
    margin-left: 5px;
}
.socials {
    margin: 0 auto;
    margin-top: 70px;
    width: 1200px;
    padding: 0 15px;display: flex;
    /* justify-content: center; */
    background-color: #F4F7F6;
}
.social-item {
    padding: 30px 25px;
}
.social-text {
    display: block;
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    height: 1px;
    width: 1px;
}
.social-item::before {
    content: "";
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg);
    background-size: 50px 50px;
    color: #000;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: middle;
}
.copywrite {
    display: block;
    margin: 0 auto;
    margin-top: 70px;
}
.copywrite {
    padding-bottom: 35px;
}
.copywrite-link {
    display: block;
    font-size: 12px;
    font-weight: bold;
    color: #999999;
    text-align: center;
}


