@font-face {
    font-family: OpenSans;
    font-weight: 400;
    font-style: normal;
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
}
@font-face {
    font-family: OpenSans;
    font-weight: bold;
    font-style: normal;
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #fff;
    font-family: OpenSans;
    line-height: 1;
    min-width: 1200px;
}
a {
    text-decoration: none;
}
a img {
    border: 0;
}
.header {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    position: relative;
}
.header::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
}
.header-container {
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
    width: 1200px;
    padding: 15px 15px 0 15px;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list {
    display: flex;
    list-style: none;
}
.nav-link {
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
}
.nav-link::before {
    position: absolute;
    content: "";
    width: 0;
    height: 1px;
    top: 22px;
    left: 0;
    background: #fff;
    transition: 0.4s;
}
.nav-list-item:hover .nav-link::before{
    width: 100%;
}
.nav-list-item:nth-child(n+2){
    margin-left: 37px;
}
.wellcome {
    margin: 104px auto 0 auto;
    padding-bottom: 125px;
    max-width: 730px;
    font-size: 45px;
    font-weight: bold;
    line-height: 75px;
    text-transform: uppercase;
    color: #fff;
}
.main {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding: 65px 15px 0 15px;
}
.content {
    display: flex;
    flex-direction: column;
}
.article {
    display: flex;
}
.article-block {
    margin-left: 30px;
}
.article:nth-child(n+2) {
    margin-top: 58px;
}
.article-tags {
    display: flex;
    list-style: none;
}
.article-tag:nth-child(n+2) {
    padding-left: 20px;
}
.article-tag-link {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #b59f5b;

}
.article-title {
    margin-top: 4px;
    line-height: 24px;
}
.article-title-link {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #0f0d0e;
}
.article-title-link:hover, .recent-link:hover, .categories-link:hover,.article-author:hover {
    text-shadow: #BBBBBB 2px 2px 3px;
}
.article-description {
    margin-top: 16px;
    margin-left: 3px;
    font-size: 12px;
    line-height: 40px;
}
.article-date {
    font-size: 12px;
    line-height: 40px;
    color: #888888;
}
.author-block {
    display: inline;
    font-style: normal;
    margin-left: 10px;
}
.article-author {
    font-size: 12px;
    font-weight: bold;
    color: #000;
}
.article-footer {
    margin-top: 33px;
}
.article-text {
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
}
.side-bar {
    width: 270px;
    height: 100%;
    margin-left: 120px;
}
.side-bar-item:nth-child(n+2) {
    margin-top: 59px;
}
.recent-items {
    display: flex;
    flex-direction: column;
}
.recent-item:nth-child(n+2){
    margin-top: 20px;
}
.side-block-title {
    text-align: center;
    position: relative;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #0f0d0e;
}
.side-block-title::before {
    content: "";
    width: 65px;
    height: 3px;
    background-color: #E1D9BD;
    position: absolute;
    top: 25px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
}
.recent-item {
    display: flex;
}
.recent-item-text {
    margin-left: 18px;
    margin-top: -3px;
}
.recent-title {
    margin-bottom: 42px;
}
.recent-date {

    display: inline-block;
    font-size: 12px;
    color: #000000;
    opacity: 0.5;
}
.recent-link {
    margin-top: 3px;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    color: #000;
    text-transform: uppercase;
}
.search {
    display: flex;
    margin-top: 40px;
}
.search-field {
    width: 220px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0;
    background-color: #F4F7F6;
    font-family: inherit;
}
.search-button {
    width: 50px;
    height: 50px;
    border: none;
    background-color: #B59F5B;
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
    color: black;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}
.mail-field {
    width: 270px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0;
    background-color: #F4F7F6;
    font-family: inherit;
}
.newsletter-title {
    margin-bottom: 35px;
}
.subscribe-button {
    margin-top: 17px;
    width: 270px;
    height: 50px;
    border: 0;
    background-color: #B59F5B;
    color: #fff;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.tags-title {
    margin-bottom: 35px;
}
.tag-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.tag-item {
    display: block;
    margin-top: 5px;
    margin-left: 5px;
    padding: 6px 12px;
    border: 3px solid #EEEEEE;
    font-size: 12px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    transition: 0.3s;
}
.tag-item:hover {
    color: #fff;
    background-color: #b59f5b;
    border: 3px solid #fff;
}
.categories-title {
    margin-bottom: 30px;
}
.categories-items {
    list-style: none;
}
.categories-item {
    padding: 14px 3px;
    border-bottom: 2px solid #eeeeee;
}
.categories-link {
    color: #000;
    font-size: 14px;
    font-weight: bold;
}
.categories-item-count {
    position: absolute;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: #b59f5b;
    margin-left: 5px;
}
.socials {
    margin: 0 auto;
    margin-top: 75px;
    width: 1170px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F7F6;
    list-style: none;
}
.social-item {
    padding: 25px 14px;
}
.social-img-link{
    display: block;
    width: 20px;
    height: 20px;
    color: #000;
    background-position: center center;
    background-size: 20px;
}
.twitter {
    width: 25px;
    height: 25px;
    background-size: 25px;
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg);
}
.pinterest {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg);
}
.facebook {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-facebook-logo.svg);
}
.instagram {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/005-instagram.svg);
}
.tumblr {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
}
.hidden-text {
    display: block;
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    height: 1px;
    width: 1px;
}
.copywrite {
    display: block;
    margin: 0 auto;
    margin-top: 75px;
    margin-bottom: 35px;
}
.copywrite-link {
    display: block;
    font-size: 12px;
    font-weight: bold;
    color: #999999;
    text-align: center;
}


